- content_for(:body_class, 'pages-index')
.logo
  genuine blue inc.

%section.section.about
  %h2.about-header
  %table
    %tr
      %th 社名
      %td
        株式会社ジェニュインブルー
        英語表記: genuine blue Inc.
    %tr
      %th 代表
      %td Naoto Koshikawa
    %tr
      %th 設立
      %td 2013-07-01
    %tr
      %th 資本金
      %td 2,000,000円
    %tr
      %th 所在地
      %td
        〒 150-0041
        東京都渋谷区神南1-3-4 神南ビル6F
    %tr
      %th 事業内容
      %td
        オリジナルブランドのソフトウェアの提供
        クラウドで動くウェブアプリケーションの開発受託
