body.pages-index
  background-color: $main-color
  .logo
    color: rgba($white, 0.8)
    font-size: 62px
    margin: $margin
  .logo-image
    display: none

  .about
    margin: $margin
  .about-list
    color: rgba($white, 0.5)
    th
      vertical-align: top
      padding:
        bottom: $margin-quater
        right: $margin-half
    td
      vertical-align: top
      padding:
        bottom: $margin-quater

  >.footer
    color: rgba($white, 0.5)
    margin:
      top: $margin
      left: $margin
    padding:
      top: $margin-quater
      right: $margin-quater
    height: $footer-height
    position: absolute
    bottom: 0
    left: 0
    width: 90%
    .copyright
      display: block
      text-align: left
      +num-font

  @media (max-width: 480px)
    .logo
      display: none
    .logo-image
      display: block
      img
        width: 320px
    .about
      margin: $margin-quater / 2
    .about-list
      th
        text-align: right
        width: 80px
        padding-right: 20px
    >.footer
      margin-left: $margin-quater
      width: 320px - $margin-quater
      .copyright
        text-align: center

